<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anuran.management">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Marketting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lead_Form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinanceLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MarketLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeeClient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewClient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForClient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Finance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditDebit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinanceStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AfterDebit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LedgerReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pocLogin"
            android:screenOrientation="portrait" />
        <activity android:name=".clientLogin" />
        <activity
            android:name=".Client"
            android:label="@string/title_activity_client"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".AddPoc" />
        <activity android:name=".ViewSites" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".RaiseIsssue" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ConfirmProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Issue"></activity>


        <activity android:name=".SupportLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".HeadLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".OsupportLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".HeadSupport"
            android:screenOrientation="portrait"/>
        <activity android:name=".OrdinarySupport"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>